{% extends 'includes/base.html' %}
{% load static %}
{% load friendshiptags %}

{% block head_title %}Privacy{% endblock %}

{% block post_CSS %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block content %}
<section class="light-page screen-height section-with-padding">
    <div class="nav-top-padding"></div>
    <div class="container-fluid w-100 m-auto py-5 px-0 centered-col-large-page">
        <h1 class="header-underline-after">Your Privacy</h1>
        <div class="py-5">
            <div class="card muted">
                <h3>Your Information</h3>
                <p>Cookie info here</p>
                
                <h3>Cookies & Analytics</h3>
                <p>Cookie info here</p>
            </div>
        </div>
    </div>
    <div class="fixed-40"></div>
</section>

{{ free_account|json_script:"free_account" }}
{{ this_user.industry|json_script:"user_ind" }}
{{ industries|json_script:"all_inds" }}
<script src="{% static 'users/js/options_multiselect.js' %}" type="text/javascript"></script>
<script src="{% static 'users/js/users.js' %}" type="text/javascript"></script>


{% endblock %}