{% extends 'base.html' %}
{% load static %}

{% block content %}
this is the summary page
{% for invoice in invoices %}
<div class="card">
    <div class="card-content">{{invoice}}
        <p> Start time</p>
        <a href="{{invoice.download_url}}">Download Invoice</a>
    </div>
</div>

{% endfor %}
{% endblock %}


{% block post_JS %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ stripe_client_secret|json_script:"id_stripe_client_secret" }}
<script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}