<!-- MAIN PAGE CONTENT -->
<div class="container container-with-grad-bg">
    <section class="pg-section py-5 min-vh page-section-card transparent">
        <!-- TOP SECTION CARDS -->
        <div class="container w-100 d-flex justify-content-center align-items-stretch mb-4">
            <div class="d-flex justify-content-between row w-100">
                <div class="py-2 col-lg-4">
                    <div class="container-rounded-light">card-content</div>
                </div>
                <div class="py-2 col-lg-4">
                    <div class="container-rounded-light">card-content</div>
                </div>
                <div class="py-2 col-lg-4">
                    <div class="container-rounded-light">card-content</div>
                </div>
            </div>
        </div>

        <!-- MAIN BODY CARD -->
        <div class="container w-100 d-flex flex-row justify-content-center align-items-stretch">
            <div class="d-flex justify-content-between row w-100">
                <!-- Start the Ajax Content Section -->
                <div id="main_ajax_content" class="content col-12">
                    <div class="container-box-header">
                        <h1>This is a Header</h1>
                    </div>
                    <div class="container-rounded-light mb-3">card-content</div>
                    <div class="container-rounded-light">card-content</div>
                </div>
                <!-- End of Ajax content section -->
            </div>
        </div>
    </section>
</div>