{% extends 'includes/base.html' %}
{% load static %}

{% block post_CSS %}
<link rel="stylesheet" href="{% static 'users/css/users.css' %}">
{% endblock %}

{% block content %}

<div class="container-fluid w-100 m-0 p-0">
    <div class="row w-100 m-0">
        <div class="d-flex justify-content p-0">
            <!-- SIDENAV -->
            {% include "navbar/sidenav.html" %}

            <!-- MAIN PAGE CONTENT -->
            <div class="container container-with-grad-bg">
                <section class="pg-section pt-5 min-vh page-section-card transparent">
                    <!-- TOP SECTION CARDS -->
                    <div class="container w-100 d-flex justify-content-center align-items-stretch mb-4">
                        <div class="d-flex justify-content-between row w-100">
                            <div class="py-2 col-lg-4">
                                <div class="container-rounded-light">card-content</div>
                            </div>
                            <div class="py-2 col-lg-4">
                                <div class="container-rounded-light">card-content</div>
                            </div>
                            <div class="py-2 col-lg-4">
                                <div class="container-rounded-light">card-content</div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="pb-5">
                    <!-- MAIN BODY CARD -->
                    <div class="container w-100 d-flex flex-row justify-content-center align-items-stretch">
                        <div class="d-flex justify-content-between row w-100">

                            <div class="container-box-header pb-4">
                                <h1>Edit Profile</h1>
                            </div>

                            <!-- Begin user profile edit form -->
                            <form action="{% url 'edit_profile' %}" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <!-- First card section -->
                                <div class="container-rounded-light mb-3 container">
                                    <div class="row">
                                        <div class="d-flex flex-column col-lg-4">
                                            <h3 class="edit-profile-section-header pb-4">Your profile image</h3>
                                            <div class="edit-prf-pic-img-wrap prf-img-preview-wrapper m-auto">
                                                <img class="prf-img-preview fade-in" src="{{profile_image}}"
                                                    alt="{{this_user.first_name}} {{this_user.last_name}}'s profile image"
                                                    onload="specImageOrientation(this);">
                                                <div class="overlay-edit-trigger" onclick="prfImgUpload();">
                                                    <i class="fas fa-camera"></i>
                                                </div>
                                            </div>
                                            <button type="button" class="btn secondary-btn my-4 mx-auto"
                                                onclick="prfImgUpload();">Replace Photo</button>
                                            <input class="d-none" type="file" accept="image/*" id="profile_image"
                                                name="profile_image">
                                        </div>

                                        <div class="col-lg-8 d-flex flex-column">
                                            <h3 class="edit-profile-section-header pb-4">The Basics</h3>
                                            <div class="input-row d-flex justify-content-between">
                                                <div class="fieldset">
                                                    <label for="first_name">First Name</label>
                                                    <input type="text" id="first_name" name="first_name"
                                                        value="{{this_user.first_name}}">
                                                </div>

                                                <div class="fieldset">
                                                    <label for="last_name">Last Name</label>
                                                    <input type="text" id="last_name" name="last_name"
                                                        value="{{this_user.last_name}}">
                                                </div>
                                            </div>
                                            <div class="input-row d-flex justify-content-between">
                                                <div class="fieldset">
                                                    <label for="job_role">Job Role</label>
                                                    <input type="text" id="job_role" name="job_role"
                                                        value="{{this_user.job_role|default:''}}"
                                                        placeholder="Select your expertise">
                                                </div>
                                                <div class="fieldset">
                                                    <label for="location">Location</label>
                                                    <input type="text" id="location" name="location"
                                                        value="{{this_user.location|default:''}}"
                                                        placeholder="Enter your city">
                                                </div>
                                                <div class="fieldset">
                                                    <label for="location">About me</label>
                                                    <textarea id="description" name="description"
                                                        value="{{this_user.bio|default:''}}"
                                                        oninput="resizeTextarea(this);"
                                                        placeholder="Enter your city"></textarea>
                                                </div>
                                                
                                                <div id="skills_display" class="fieldset skills-display-wrapper">

                                                </div>
                                                <div id="skills-select"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Second card section -->
                                <div class="container-rounded-light">card-content</div>
                                <button type="submit">Submit</button>
                            </form>
                            <!-- End user profile edit form -->

                        </div>
                    </div>
                </section>
            </div>


        </div>
    </div>
</div>

<!-- Page only scripts -->
{{ skills|json_script:"all_skills" }}
<script src="{% static 'users/js/users.js' %}" type="text/javascript"></script>


{% endblock %}