/* Dashboard Sidenav */
#sidebar_wrap {
    background: var(--primary-color);
    width: 9%;
    min-width: 8%;
    transition: 0.3s ease-in-out;
}

#sidebar_wrap.active {
    width: 20%;
    min-width: 250px;
}

#account_sidebar {
    position: relative;
}

#sidebar_trigger {
    width: 35px;
    height: 35px;
    position: absolute;
    right: 0;
    top: 10px;
    cursor: pointer;
    transform: rotate(0deg);
    transition: 0.3s ease-in-out;
    background: #fff;
    margin: auto;
    margin-right: -17.5px;
    display: flex;
    font-size: 25px;
    border-radius: 35px;
    box-shadow: 1px 1px 10px -1px var(--dark-shadow);
}

#sidebar_wrap.active > div > #sidebar_trigger {
    transform: rotate(180deg);
    top: 20px;
}

#sidebar_trigger > i {
    margin: auto;
}

.sidenav-image-container {
    height: 120px;
    width: 120px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 1px 1px 10px -1px var(--dark-shadow);
    margin: 50px auto;
    transition: 0.3s ease-in-out;
}

.sidenav-image-container > img {
    height: 100%;
    width: auto;
}

.sidebar-profile-details.closed > .sidenav-image-container {
    height: 70px;
    width: 70px;
}

.sidenav-detail-text {
    text-align: center;
}

.sidenav-detail-text h2 {
    font-size: 1.4rem;
    color: #fff;
}


#account_sidebar_ul {
    color: #fff;
    font-weight: 200;
}

#account_sidebar_ul li {
    display: flex;
    margin: 30px 0px;
}

.sidebar-icon-item {
    font-size: 30px;
    margin: auto 0px;
}
.sidebar-text-item {
    margin: auto 0px;
    padding-left: 15px;
}

/* Main body section of dashboard */
.page-content-with-sidebar {
    width: 100%;
    margin: 0px;
    padding: 0px;
    background: var(--bg-grad-color);
}

.pending-requests-to-me {
    display: flex;
    flex-direction: column;
}

.conn-request-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--light-line);
}

.conn-request-item:last-of-type {
    border-bottom: none;
}

.conn-request-item > div {
    max-width: 100%;
}

.conn-request-item > div > .new-req-details {
    margin: auto ;
    padding: 5px 10px;
    display: flex;
    max-width: 100%;
    min-width: 80%;
}

.new-req-details p:first-of-type {
    font-weight: 500;
    font-size: 16px;
}

.new-req-details p:nth-of-type(2) {
    font-weight: 200;
    font-size: 14px;
}

.conn-request-item > .action-btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px auto;
    min-width: max-content;
}

.action-btns .conn-response-btn {
    margin: auto 5px;
    height: 40px;
    width: 40px;
    position: relative;
}

.conn-response-btn:hover {
    color: inherit!important;
    z-index: 99;
}

.conn-response-btn:hover .tooltip-top {
    animation: fade-in 0.3s ease-in-out;
    display: flex;
    z-index: 99;
}

.conn-response-btn.view-conn-btn {
    background: var(--bg-grad-color);
    color: var(--dark-text);
}

.conn-response-btn.decline-conn-btn {
    background: var(--primary-color-grad);

}

.conn-response-btn.accept-conn-btn {
    background: var(--accent-color-grad);
    color: var(--dark-text);
}

.modal.user-view > .modal-dialog {
    height: 100%;
    margin: 0px auto;
}

.modal-dialog > .modal-content {
    height: max-content;
    margin: auto;
}

.modal-body > .user-card {
    max-width: 100%!important;
}

.modal-body > span > i {
    margin-left: auto;
    cursor: pointer;
}

.modal-footer button {
    flex: 1 1 48%;
}


/* My Order Section */
.my-orders-item {
    justify-content: space-evenly;
    padding: 15px 0px;
    border-bottom: 1px solid var(--light-line);
}

.my-orders-item:last-of-type, .my-orders-item.no-b-line {
    border-bottom: none;
}

.order-detail {
    display: flex;
    flex-direction: column;
}

label.table-item-label {
    font-size: 14px;
    color: var(--light-text);
}

/* Edit Profile Page */

.edit-profile-section-header {
    position: relative;
    width: max-content;
    max-width: 100%;
    z-index: 1;
    font-size: 1.5rem;
}

.edit-profile-section-header::after {
    content: "";
    position: absolute;
    border-bottom: 5px solid var(--primary-color);
    width: 100%;
    bottom: -25%;
    right: 0;
    z-index: -1;
}

#edit_prf_img_col {
    flex: 1 1 29%;
    min-width: 200px;
    max-width: 250px;
    margin: auto;
}

#edit_prf_basics_col {
    flex: 1 1 69%;
    padding: 0px 10px!important;
}

.edit-prf-pic-img-wrap {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
}

.edit-prf-pic-img-wrap img{
    height: 100%;
    width: auto;
}

.overlay-edit-trigger {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #0000004f;
    display: flex;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.overlay-edit-trigger:hover {
    background: #00000083;
    color: #fff;
}

.overlay-edit-trigger i {
    margin: auto;
    font-size: 80px;
    transition: 0.3s ease-in-out;
}

.skill-pill {
    padding: 5px 10px;
    width: max-content;
    border-radius: 20px;
    background: var(--primary-color-grad);
    box-shadow: 1px 2px 10px -3px var(--dark-shadow);
    color: #fff;
    margin: 0px 5px 5px 0px;
    display: flex;
    height: max-content;
    white-space: normal;
}

.skill-pill i {
    font-size: 12px;
    margin: auto;
    padding-left: 10px;
    line-height: normal;
    cursor: pointer;
}

/* Multiselect - set wrapper relative to custom button */
#skills-select {
    width: auto!important;
}

#skills-select .vscomp-search-wrapper {
    padding: 0px 15px!important;
}

#skills-select .vscomp-dropbox-container {
    width: 100%!important;
    bottom: 15px;
    top: 65px;
}

#skills-select .vscomp-toggle-button {
    display: none;
}

.skills-wrapper {
    position: relative;
    width: max-content;
}

.skills-wrapper > button{
    width: max-content;
    padding: 5px 10px;
    margin: 0px 5px 5px 0px;
}

.skills-display-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.vscomp-dropbox {
    box-shadow: 1px 2px 10px -1px var(--dark-shadow);
    border-radius: 5px;
}

.vscomp-option:last-of-type {
    border-radius: 0px 0px 5px 5px;
}

.vscomp-wrapper {
    position: absolute;
    right: 0;
    width: 100%;
    bottom: 55px;
}

.vscomp-wrapper.role {
    position: relative;
    width: 100%;
    bottom: 0;
}

.vscomp-wrapper.role > .vscomp-toggle-button {
    display: block;
}

#ind_select_profile_edit {
    position: relative;
    bottom: 0px;
    left: 0px;
}

.vscomp-wrapper.select-edit-profile {
    bottom: 0px;
    width: 100%;
    position: relative;
    height: 36px;
}

.vscomp-wrapper.select-edit-profile > .vscomp-dropbox-container {
    width: 100%!important;
}

.select-edit-profile > .vscomp-toggle-button {
    display: inline-block;
}

.select-edit-profile > .vscomp-toggle-button > .vscomp-value {
    height: 100%;
    line-height: 24px;
    font-size: 16px;
    opacity: 1;
}

.vscomp-toggle-button {
    display: none;
    min-height: 36px!important;
}

.vscomp-dropbox-container {
    width: auto!important;
    z-index: 99!important;
}

.vscomp-option.selected {
    background: var(--accent-color-grad);
    border-bottom: 1px solid var(--light-line);
}

.vscomp-option.selected:last-of-type {
    border-bottom: none;
}

.vscomp-wrapper .checkbox-icon {
    border: 1px solid var(--light-line);
}

.vscomp-option.selected .checkbox-icon {
    border: none!important;
}

.vscomp-wrapper .checkbox-icon::after {
    border: none;
}

.vscomp-option.selected .checkbox-icon::after {
    border: none;
    border-right: 1px solid var(--primary-color)!important;
    border-bottom: 1px solid var(--primary-color)!important;
}

.vscomp-search-container > .vscomp-search-clear {
    margin: auto;
    display: flex;
}

.vscomp-search-container > .vscomp-search-input {
    padding: 0px;
    border-bottom: 0px!important;
    font-size: 16px;
}

.vscomp-search-container {
    padding: 0px!important;
}

/* All users page */
.user-card {
    padding: 20px;
    margin: 10px;
    flex: 1 0 31%;
    min-width: 300px;
    max-width: 460px;
}

.user-card > div > .prf-img-preview {
    height: 100px;
    width: 100px;
    min-height: 100px;
    min-width: 100px;
    overflow: hidden;
    border-radius: 50px;
    box-shadow: 1px 1px 10px -2px var(--dark-shadow);
    margin: auto;
    margin-bottom: 10px;
}

.user-details-mast {
    padding-left: 20px;
    height: max-content;
    margin: auto;   
    min-width: 65%;
}

.user-ind-pill {
    background: var(--accent-color);
    color: var(--dark-text);
    margin-right: 5px;
    border-radius: 50px;
    font-size: 12px;
    padding: 5px 10px;
    white-space: nowrap;
}

.user-ind-pill.red {
    background: var(--primary-dark);
    color: #fff;
}

.user-ind-pill.blue {
    background: var(--primary-color-sub);
    color: #fff;
}

.user-ind-pill.orange {
    background: var(--secondary-color);
    color: var(--dark-text);
}

.user-details-bottom > .user-skills {
    display: flex;
    flex-wrap: wrap;
}

.user-details-bottom > .user-skills span{
    padding: 7px 10px;
    font-size: 14px;
    line-height: initial;
}

.page-results {
    display: flex;
    justify-content: center;
    margin: 0px -10px;
}


/* Searchbar */
.search-box-card {
    padding: 20px;
    z-index: 2;
}

#industry_search > div {
    max-width: 100%;
}

#industry_search > #ind-select > .vscomp-wrapper {
    position: relative;
    display: block;
    bottom: 0;
    width: 100%;
    max-width: 100%;
}

#industry_search > div > div > .vscomp-toggle-button {
    display: block;
    min-height: 33px;
    height: 33px;
    transition: 0.3s ease-in-out;
}

#industry_search > div > div.focused > .vscomp-toggle-button {
    display: block;
    min-height: 33px;
    height: auto;
}

.search-button-wrapper {
    height: max-content;
    min-height: 50px;
    margin-top: 10px;
    display: flex;
}

.search-button-wrapper button,
.search-button-wrapper a {
    margin: auto;
    margin-top: 10px;
    padding: 10px 20px;
    min-width: max-content;
}
.search-button-wrapper button {
    min-width: 70%;
}

.search-button-wrapper a {
    min-width: 25%;
    padding: 10px 20px!important;
    height: max-content;
}

h3.results-count {
    height: max-content;
    width: max-content;
    text-align: center;
    margin: auto;
    margin-bottom: 40px;
    position: relative;
    z-index: 1;
}

.results-count::after {
    content: "";
    position: absolute;
    border-bottom: 5px solid var(--primary-color);
    width: 100%;
    z-index: -1;
    bottom: -10px;
    right: 0;
}

.no-results {
    width: 100%;
    max-width: 100%;
}

.no-results > div > div > i {
    font-size: 100px;
    text-align: center;
    width: 100%;
    padding: 20px;
    color: var(--light-grey);
}

/* Media Queries */

@media (max-width: 449.98px) { 
    .user-details-mast {
        text-align: center;
        padding: 0px;
        margin: auto;
    }
    
    .modal-body > .user-card {
        justify-content: center;
        text-align: center;
        padding: 0px;
        min-width: auto;
    }

    .modal-body > .user-card > div > .prf-img-preview {
        margin: auto!important;
        margin-bottom: 10px!important;
    }
}

@media (max-width: 991.98px) { 
    #sidebar_wrap {
        position: absolute;
        z-index: 9;
        height: 100%;
        width: 100%;
        right: 100%;
    }

    #sidebar_wrap.active {
        right: 0;
        width: 100%;
    }

    #sidebar_wrap span.sidebar-text-item {
        display: block!important;
        opacity: 1!important;
    }

    #sidebar_wrap #sidebar_trigger{
        margin-right: -35px;
        border-radius: 0px 30px 30px 0px;
    }    
    #sidebar_wrap.active #sidebar_trigger{
        margin-right: 17.5px;
        border-radius: 30px;
    }    
}