/* Dashboard Sidenav */
#sidebar_wrap {
    background: var(--primary-color);
    width: 7%;
    transition: 0.3s ease-in-out;
}

#sidebar_wrap.active {
    width: 20%;
}

#account_sidebar {
    position: relative;
}

#sidebar_trigger {
    width: 35px;
    height: 35px;
    position: absolute;
    right: 0;
    top: 10px;
    cursor: pointer;
    transform: rotate(0deg);
    transition: 0.3s ease-in-out;
    background: #fff;
    margin: auto;
    margin-right: -17.5px;
    display: flex;
    font-size: 25px;
    border-radius: 35px;
    box-shadow: 1px 1px 10px -1px var(--dark-shadow);
}

#sidebar_wrap.active > div > #sidebar_trigger {
    transform: rotate(180deg);
    top: 20px;
}

#sidebar_trigger > i {
    margin: auto;
}

.sidenav-image-container {
    height: 120px;
    width: 120px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 1px 1px 10px -1px var(--dark-shadow);
    margin: 50px auto;
    transition: 0.3s ease-in-out;
}

.sidenav-image-container > img {
    height: 100%;
    width: auto;
}

.sidebar-profile-details.closed > .sidenav-image-container {
    height: 70px;
    width: 70px;
}

.sidenav-detail-text {
    text-align: center;
}

.sidenav-detail-text h2 {
    font-size: 1.4rem;
    color: #fff;
}


#account_sidebar_ul {
    color: #fff;
    font-weight: 200;
}

#account_sidebar_ul li {
    display: flex;
    margin: 30px 0px;
}

.sidebar-icon-item {
    font-size: 30px;
    margin: auto 0px;
}
.sidebar-text-item {
    margin: auto 0px;
    padding-left: 15px;
}

/* Main body section of dashboard */
.page-content-with-sidebar {
    width: 100%;
    margin: 0px;
    padding: 0px;
    background: var(--bg-grad-color);
}

/* My Order Section */
.my-orders-item {
    justify-content: space-evenly;
    padding: 15px 0px;
    border-bottom: 1px solid var(--light-line);
}

.my-orders-item:last-of-type, .my-orders-item.no-b-line {
    border-bottom: none;
}

.order-detail {
    display: flex;
    flex-direction: column;
}

label.table-item-label {
    font-size: 14px;
    color: var(--light-text);
}

/* Edit Profile Page */

.edit-profile-section-header {
    font-size: 1.2rem;
}

.edit-prf-pic-img-wrap {
    height: 200px;
    width: 200px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
}

.edit-prf-pic-img-wrap img{
    height: 100%;
    width: auto;
}

.overlay-edit-trigger {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #0000004f;
    display: flex;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.overlay-edit-trigger:hover {
    background: #00000083;
    color: #fff;
}

.overlay-edit-trigger i {
    margin: auto;
    font-size: 80px;
    transition: 0.3s ease-in-out;
}

.skill-pill {
    padding: 5px 10px;
    width: max-content;
    border-radius: 20px;
    background: var(--primary-color-grad);
    box-shadow: 1px 2px 10px -3px var(--dark-shadow);
    color: #fff;
    margin: 0px 5px 5px 0px;
    display: flex;
    height: max-content;
}

.skill-pill i {
    font-size: 12px;
    margin: auto;
    padding-left: 10px;
    line-height: normal;
    cursor: pointer;
}

/* Multiselect - set wrapper relative to custom button */
.skills-wrapper {
    position: relative;
}

.skills-display-wrapper {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.vscomp-wrapper {
    position: absolute;
    right: 0;
    width: 250%;
    bottom: 55px;
}

.vscomp-wrapper.role {
    position: relative;
    width: 100%;
    bottom: 0;
}

.vscomp-wrapper.role > .vscomp-toggle-button {
    display: block;
}

.vscomp-toggle-button {
    display: none;
}

/* All users page */
.user-card {
    padding: 20px;
    margin: 10px;
    flex: 1 0 31%;
    min-width: 300px;
    max-width: 460px;
}

.user-card > div > .prf-img-preview {
    height: 100px;
    width: 100px;
    min-height: 100px;
    min-width: 100px;
    overflow: hidden;
    border-radius: 50px;
    box-shadow: 1px 1px 10px -2px var(--dark-shadow);
    margin: auto;
    margin-bottom: 10px;
}

.user-details-mast {
    padding-left: 20px;
    height: max-content;
    margin: auto;   
    min-width: 65%;
}

.user-ind-pill {
    background: var(--accent-color);
    color: var(--dark-text);
    margin-right: 5px;
    border-radius: 50px;
    font-size: 12px;
    padding: 5px 10px;
}

.user-ind-pill.red {
    background: var(--primary-dark);
    color: #fff;
}

.user-ind-pill.blue {
    background: var(--primary-color-sub);
    color: #fff;
}

.user-ind-pill.orange {
    background: var(--secondary-color);
    color: var(--dark-text);
}

.user-details-bottom > .user-skills {
    display: flex;
    flex-wrap: wrap;
}

.user-details-bottom > .user-skills span{
    padding: 7px 10px;
    font-size: 14px;
    line-height: initial;
}

.page-results {
    display: flex;
    justify-content: center;
    margin: 0px -10px;
}


/* Searchbar */
.search-box-card {
    padding: 20px;
}

#ind-select {
    max-width: 100%;
}

#industry_search > #ind-select > .vscomp-wrapper {
    position: relative;
    display: block;
    bottom: 0;
    width: 100%;
}

#industry_search > #ind-select > div > .vscomp-toggle-button {
    display: block;
    min-height: 36px;
}

.search-button-wrapper {
    height: max-content;
    min-height: 50px;
    margin-top: 10px;
    display: flex;
}

.search-button-wrapper button {
    margin: auto;
    margin-top: 10px;
    padding: 10px 20px;
    min-width: max-content;
}
.search-button-wrapper button:first-of-type {
    min-width: 70%;
}

.search-button-wrapper button:last-of-type {
    min-width: 25%;
}

.search-button-wrapper button:last-of-type:hover {
    padding: 10px 20px;
}

h3.results-count {
    height: max-content;
    width: max-content;
    text-align: center;
    margin: auto;
    margin-bottom: 40px;
    position: relative;
    z-index: 1;
}

.results-count::after {
    content: "";
    position: absolute;
    border-bottom: 5px solid var(--primary-color);
    width: 100%;
    z-index: -1;
    bottom: -10px;
    right: 0;
}

.no-results {
    width: 100%;
    max-width: 100%;
}

.no-results > div > div > i {
    font-size: 100px;
    text-align: center;
    width: 100%;
    padding: 20px;
    color: var(--light-grey);
}

/* Media Queries */

@media (max-width: 449.98px) { 
    .user-details-mast {
        text-align: center;
        padding: 0px;
        margin: auto;
    }
}